.carousel {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
}

.carousel-image {
  min-width: 16rem;
  height: 16rem;
  object-fit: cover;
  border-radius: 0.375rem;
  margin: 0.5rem;
  transition: transform 0.5s;
  cursor: pointer;
}


/* styles.css */
.scrollbar-hide::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}


